<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
<h3>Правила использования системы генерации пароля:</h3>
<a href="{% url 'home' %}" class="url"><--На главную</a>
    <ol><li>
    Система генерирует пароль согласно установленным параметрам
</li>
<li>
    Перед созданием пароля нужно определить параметры длины и установить сложность через подключение дополнительных символов разметки*
</li>

    <li>
        После выбора необходимых параметров нужно нажать кнопку "Сгенерировать пароль"
    </li>
</ol>
    <i>* По умолчанию система использует только английские буквы в нижнем регистре</i>
</div>
</body>
</html>