<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бары Челябинска></title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<div class="menu">
    <ul>
        <li><a href="{% url 'index'%}">Главная</a></li>
        <li><a href="{%url 'news'%}">Новости</a></li>
    </ul>
</div>
<div class="content">
    <div class="wrap">
        <div class="img"><a href="{%url 'index' %}">
    <img src="{%static 'bars/logo.jpg' %}" class="logo"></a>

</div>
{%block content%}

{%endblock%}
    </div>
</div>
</body>
</html>